In [37]:
import pandas as pd
from sqlalchemy import create_engine, inspect

### Extract CSVs into DataFrames

In [38]:
women_shoe_file = "../Resources/7003_1.csv"
women_shoe_df = pd.read_csv(women_shoe_file)
women_shoe_df.head()

/var/folders/xp/jd0bwsrs23d7sg_n76028r300000gn/T/ipykernel_64047/2213068837.py:2: DtypeWarning: Columns (25,36,39,44) have mixed types. Specify dtype option on import or set low_memory=False.
  women_shoe_df = pd.read_csv(women_shoe_file)

,id,asins,brand,categories,colors,count,dateadded,dateupdated,descriptions,dimension,...,prices_sourceurls,prices_warranty,quantities,reviews,sizes,skus,sourceurls,upc,websiteids,weight
0,AVpfBXx21cnluZ0-cKxs,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,...,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN
1,AVpfBXx21cnluZ0-cKxs,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,...,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN
2,AVpfBXx21cnluZ0-cKxs,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,...,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN
3,AVpfBXx21cnluZ0-cKxs,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,...,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN
4,AVpfEqFRLJeJML431x7w,NaN,Wild Pair,"Shoes,Women's Shoes,Clothing,All Women's Shoes",Brown,NaN,2016-11-16T12:56:36Z,2016-11-16T12:56:36Z,"[{""dateSeen"":[""2016-11-16T12:56:36Z""],""sourceU...",NaN,...,https://www.walmart.com/ip/Wild-Pair-Colfax-Wo...,NaN,NaN,NaN,"8.5,7,7.5,8",NaN,https://www.walmart.com/ip/Wild-Pair-Colfax-Wo...,7.63181E+11,NaN,NaN

In [39]:
men_shoe_file = "../Resources/7004_1.csv"
men_shoe_df = pd.read_csv(men_shoe_file)
men_shoe_df.head()

/var/folders/xp/jd0bwsrs23d7sg_n76028r300000gn/T/ipykernel_64047/380449232.py:2: DtypeWarning: Columns (39,45) have mixed types. Specify dtype option on import or set low_memory=False.
  men_shoe_df = pd.read_csv(men_shoe_file)

,id,asins,brand,categories,colors,count,dateadded,dateupdated,descriptions,dimension,...,prices_warranty,quantities,reviews,sizes,skus,sourceurls,upc,vin,websiteids,weight
0,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,699302044036,NaN,NaN,NaN
1,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,699302044036,NaN,NaN,NaN
2,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN
3,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN
4,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN

In [40]:
women_shoe_df["categories"]

0           Shoes,Clothing,Women's Shoes,All Women's Shoes
1           Shoes,Clothing,Women's Shoes,All Women's Shoes
2           Shoes,Clothing,Women's Shoes,All Women's Shoes
3           Shoes,Clothing,Women's Shoes,All Women's Shoes
4           Shoes,Women's Shoes,Clothing,All Women's Shoes
                               ...
19040    Watches,Clothing, Shoes & Jewelry,Women,Wrist ...
19041       Shoes,Clothing,Women's Shoes,All Women's Shoes
19042       Shoes,Clothing,Women's Shoes,All Women's Shoes
19043       Shoes,Clothing,Women's Shoes,All Women's Shoes
19044       Shoes,Clothing,Women's Shoes,All Women's Shoes
Name: categories, Length: 19045, dtype: object

In [41]:
women_shoe_df["category"] = "Women"
women_shoe_df.head()

,id,asins,brand,categories,colors,count,dateadded,dateupdated,descriptions,dimension,...,prices_warranty,quantities,reviews,sizes,skus,sourceurls,upc,websiteids,weight,category
0,AVpfBXx21cnluZ0-cKxs,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,Women
1,AVpfBXx21cnluZ0-cKxs,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,Women
2,AVpfBXx21cnluZ0-cKxs,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,Women
3,AVpfBXx21cnluZ0-cKxs,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,Women
4,AVpfEqFRLJeJML431x7w,NaN,Wild Pair,"Shoes,Women's Shoes,Clothing,All Women's Shoes",Brown,NaN,2016-11-16T12:56:36Z,2016-11-16T12:56:36Z,"[{""dateSeen"":[""2016-11-16T12:56:36Z""],""sourceU...",NaN,...,NaN,NaN,NaN,"8.5,7,7.5,8",NaN,https://www.walmart.com/ip/Wild-Pair-Colfax-Wo...,7.63181E+11,NaN,NaN,Women

In [42]:
men_shoe_df["categories"]

0               Clothing,Shoes,Men's Shoes,All Men's Shoes
1               Clothing,Shoes,Men's Shoes,All Men's Shoes
2               All Men's Shoes,Shoes,Men's Shoes,Clothing
3               All Men's Shoes,Shoes,Men's Shoes,Clothing
4               All Men's Shoes,Shoes,Men's Shoes,Clothing
                               ...
19382      Clothing, Shoes & Accessories,Men's Shoes,Boots
19383           Clothing,Shoes,Men's Shoes,All Men's Shoes
19384    Women's Sunglasses,Sunglasses,Bags & Accessori...
19385    Women's Sunglasses,Sunglasses,Bags & Accessori...
19386    Women's Sunglasses,Sunglasses,Bags & Accessori...
Name: categories, Length: 19387, dtype: object

In [43]:
men_shoe_df["category"] = "Men"
men_shoe_df.head()

,id,asins,brand,categories,colors,count,dateadded,dateupdated,descriptions,dimension,...,quantities,reviews,sizes,skus,sourceurls,upc,vin,websiteids,weight,category
0,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,699302044036,NaN,NaN,NaN,Men
1,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,699302044036,NaN,NaN,NaN,Men
2,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,Men
3,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,Men
4,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,Men

### Transform women's shoes DataFrame

In [44]:
# Create a filtered dataframe from specific columns
women_shoe_cols = ["id", "brand", "category", "prices_amountmin", "prices_amountmax"]
women_shoe_transformed = women_shoe_df[women_shoe_cols].copy()

# Rename the column headers
women_shoe_transformed = women_shoe_transformed.rename(columns={"prices_amountmin": "prices_min",
                                                          "prices_amountmax": "prices_max"})

# Clean the data by dropping duplicates and setting the index
women_shoe_transformed.drop_duplicates("id", inplace=True)
women_shoe_transformed.set_index("id", inplace=True)

women_shoe_transformed.head()

                              brand category prices_min prices_max
id
AVpfBXx21cnluZ0-cKxs           Zoot    Women      71.99      71.99
AVpfEqFRLJeJML431x7w      Wild Pair    Women      26.98      26.98
AVpfFCfi1cnluZ0-dcCZ  Sutton Studio    Women        318        318
AVpfBZCAilAPnD_xTN_K    LaLeela.com    Women      27.98      27.98
AVpfHscY1cnluZ0-eVb6         Reebok    Women      22.99      22.99

# Transform men's shoes DataFrame

In [45]:
# Create a filtered dataframe from specific columns
men_shoe_cols = ["id", "brand", "category", "prices_amountmin", "prices_amountmax"]
men_shoe_transformed = men_shoe_df[men_shoe_cols].copy()

# Rename the column headers
men_shoe_transformed = men_shoe_transformed.rename(columns={"prices_amountmin": "prices_min",
                                                          "prices_amountmax": "prices_max"})

# Clean the data by dropping duplicates and setting the index
men_shoe_transformed.drop_duplicates("id", inplace=True)
men_shoe_transformed.set_index("id", inplace=True)

men_shoe_transformed.head()

                                    brand category prices_min prices_max
id
AVpfHrJ6ilAPnD_xVXOI                Josmo      Men      39.89      39.89
AVpfHsWP1cnluZ0-eVZ7  SERVUS BY HONEYWELL      Men      40.02      40.02
AVpfAwehilAPnD_xS_eB               NATIVE      Men      45.00      45.00
AVpfFCHeilAPnD_xUeS0        MAUI AND SONS      Men       9.99       9.99
AVpfHssKilAPnD_xVXu5               Hao-bo      Men      37.99      37.99

In [46]:

pd.concat

<function pandas.core.reshape.concat.concat(objs: 'Iterable[NDFrame] | Mapping[Hashable, NDFrame]', axis: 'Axis' = 0, join: 'str' = 'outer', ignore_index: 'bool' = False, keys=None, levels=None, names=None, verify_integrity: 'bool' = False, sort: 'bool' = False, copy: 'bool' = True) -> 'DataFrame | Series'>

In [47]:
shoe_data_complete_df = pd.concat([men_shoe_transformed, women_shoe_transformed])
shoe_data_complete_df

                                    brand category prices_min prices_max
id
AVpfHrJ6ilAPnD_xVXOI                Josmo      Men      39.89      39.89
AVpfHsWP1cnluZ0-eVZ7  SERVUS BY HONEYWELL      Men      40.02      40.02
AVpfAwehilAPnD_xS_eB               NATIVE      Men      45.00      45.00
AVpfFCHeilAPnD_xUeS0        MAUI AND SONS      Men       9.99       9.99
AVpfHssKilAPnD_xVXu5               Hao-bo      Men      37.99      37.99
...                                   ...      ...        ...        ...
AVpfbLLzilAPnD_xbi0S         Steve Madden    Women      17.99      17.99
AVpfuYV4ilAPnD_xhIHc                  NaN    Women         88         88
AVpfmTLMilAPnD_xeu4l               Hi-Tec    Women      45.81      45.81
AVpe6e3f1cnluZ0-Zsk7                NIXON    Women        130        130
AVpfXLGG1cnluZ0-jY7B               Tundra    Women      39.99      39.99

[20000 rows x 4 columns]

### Create database connection

In [48]:
protocol = 'postgresql'
username = 'postgres'
password = 'bootcamp'
host = 'localhost'
port = 5432
database_name = 'shoe_data_complete_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [50]:
# Confirm tables
inspector = inspect(engine)
inspector.get_table_names()

['Shoe_data_table', 'brand']

### Load DataFrames into database

In [52]:
shoe_data_complete_df.to_sql(name='shoe_data_table', con=engine, if_exists='append', index=False)

1000